<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pri.wf.crawler.dao.TrainListDao">
	<insert id="insert" parameterType="pri.wf.crawler.entity.TrainListEntity">
        insert into   tb_trainList(station_train_code,train_no,start_station_name,end_station_name) 
        values(#{station_train_code},#{train_no},#{start_station_name},
        #{end_station_name})
    </insert>
    
    <resultMap id="trainList" type="pri.wf.crawler.entity.TrainListEntity">
       <!--  <id column="dp_id" property="dp_id" /> -->
        <result column="station_train_code" property="station_train_code" />
        <result column="train_no" property="train_no" />
        <result column="start_station_name" property="start_station_name" />
        <result column="end_station_name" property="end_station_name" />
        <result column="flag" property="flag" />
    </resultMap>

    <select id="selectAll"  resultMap="trainList" >
         select station_train_code,train_no,start_station_name,end_station_name,flag from tb_trainlist
    </select>
    
    <update id="updateFlag" parameterType="pri.wf.crawler.entity.TrainListEntity" >
        update tb_trainlist set flag=#{flag} where station_train_code=#{station_train_code}
    </update>
    
</mapper>