<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pri.wf.crawler.dao.TwoStationDao">
	<insert id="insert" parameterType="pri.wf.crawler.entity.TwoStationEntity">
        insert into  tb_twostation( from_station_telecode,from_station_name,
        to_station_telecode,to_station_name,havetrain) 
        values(#{from_station_telecode},#{from_station_name},
        #{to_station_telecode},#{to_station_name},#{havetrain})
    </insert>
</mapper>